@media only screen and (min-width: 40rem) {

    header, main, nav, footer{
        max-width:1200px;
        margin: 0 auto;
    }

    /**Navigation Stuff tag**/
    nav{
        display: block;
        background-color: rgb(119, 197, 223);
    }

    nav ul{
        display: flex;
        margin: 10px;
        background-color: rgb(119, 197, 223);
    }
    nav a{
        border-left: solid 1px rgba(245, 242, 242, 0.2);
        padding: .4rem 20px;
        background-color: rgb(119, 197, 223);
    }

    nav a:hover{
    background-color: rgb(180, 58, 180);
    }

    nav li:last-child a{
        border-right: solid 1px rgba(245, 242, 242, 0.2);
    }

    /**Hamburger Stuff tag**/
    .hamburger{
        display:none;
    }

    /**Main Stuff tag**/
    .sbs{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}