@media only screen and (min-width: 40rem) {

    /**Navigation Stuff tag**/
    nav{
        display: block;
    }

    nav ul{
        display: flex;
    }

    /**Hamburger Stuff tag**/
    .hamburger{
        display:none;
    }
}