@media only screen and (min-width: 40rem) {

    header, main, nav, footer{
        max-width:1200px;
        margin: 0 auto;
    }

    /**Navigation Stuff tag**/
    nav{
        display: block;
        color:#eee;
        border-left: solid 1px rgba(245, 242, 242, 0.2);
        border-bottom: solid 1px #666;  
        border-top: solid 1px #666;
    }

    nav ul{
        display: flex;
        margin: 10px;
        list-style-type: none;
    }

    nav a{
        border-left: solid 1px rgba(245, 242, 242, 0.2);
        padding: .4rem 20px;
        color: #666;
        border-bottom: solid 1px #666;    
        text-decoration: none;
    }


    nav a:hover{
    text-decoration: underline;
    background-color: #666;
    }

    nav li:last-child a{
        border-right: solid 1px rgba(245, 242, 242, 0.2);
    }

    nav li.active{
    background-color: #666;
    color: #eee;
}

    /**Hamburger Stuff tag**/
    .hamburger{
        display:none;
    }

    /**Main Stuff tag**/
    .sbs{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}