/**Border-Box**/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/**body tag**/
body{
    font-family: "Oswald", sans-serif;
}

/**header tag**/
header{
    padding: 10px 0 10px 10px;
    border-bottom: solid 1px #ddd;
    display: grid;
    align-items: end;
    column-gap: 8px;
    grid-template-columns: 24px auto 44px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span{
    color: #232323;
}

/**navigation tag**/
nav{ 
    display: none;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a{
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
    border-bottom: solid 1px #ddd;    
    text-decoration: none;
    padding: 0.8rem;
}

nav li.active a{
    background-color:#666;
    color:#eee;
}
nav a:hover{
    text-decoration: underline;
}

/**You might need to delete this one tag**/
nav li:last-child a{
    border-right: solid 1px rgba(245, 242, 242, 0.2);
}

nav li.active{
    background-color: #666;
    color: #eee;
}

nav.show{
    display: block;
}

/**Hamburger Stuff tag**/
.hamburger{
    background: none;
    border:none;
    color:#232323;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana;
}

.hamburger::before{
    content: "\2630";

}

.hamburger.show::before{
    content: "\00D7";

}




/**main stuff tag**/
    h1{ 
        font-size:1.5rem;
        color:#3D405B;
        font-weight:500;
        margin-left:10px;
    }

    .sbs section{
        border: 1px solid #eee;
        border-radius:10px;
        box-shadow: 0 0 10px #aaa;
        margin: 0.5rem 10px;
        overflow: hidden;
    }

    .sbs h2{
        background-color: rgb(119, 197, 223);
        color: #232323;
        font-weight: 400;
        font-size:1.25rem;
        margin: 0;
        padding: 0.5rem 0.2rem;
        text-align: center;
    }

    .sbs p{
        font-weight: 200;
        margin: 10px;
        line-height: 130%;
    }

    .sbs img{
        display: block;
        width:100%;
        height:100%;
        object-fit: cover;
    }

    /**Assigment Card tag**/
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        gap:50px 10px;
        margin:10px;
    }

    .cards section{
        border:1px #ccc solid;
        border-radius:10px;
        overflow:hidden;
    }

    .cards h2{
        background-color:#b9b595;
        color: rgb(0,0,0,0.8);
        font-weight: 400;
        font-size:1.25rem;
        margin:0;
        padding: 05rem 0.2rem;
        text-align: center;
    }

    .cards p{ 
        font-weight:200;
        margin:10px 10px;
        line-height: 130%;
        text-align: center;
    }

        .cards img{
        display: block;
        width:100%;
        height: auto;
    }

    .cards a{
        background-color:#b9b595;
        color: rgb(0,0,0,0.7);
        text-decoration: none;
        display: block;
        width: 80%;
        padding:10px;
        margin: 0 10% 10px 10%;
        text-align: center;
        border-radius: 20px;
        &:hover{
            background-color:#dbd7b2;
            transform: translateY(2px);
            box-shadow: 0 0 10px #999;
        }
    }

/**social media tag**/
    .social{
        display:flex;
        justify-content:center;
        column-gap: 8px;
    }

    .social img{
        display: block;
        width: 22px;
        height: 22px;
    }

    .social a{
        border: solid 1px rgb(0,0,0,0.2);
        border-radius: 4px;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255.255.255, 0.3);
    }

    .social a:hover{
        background-color: rgb(255.255.255, 0.8);
    }

/**footer tag**/
    footer{
        background-color: #ddd;
        padding: 1rem 0;
        text-align: center;
        font-weight: 200;
        font-size: 0.75rem;
}


/**hero image tag**/
.hero{
    display:block;
    width:100%;
    padding: 0 10px;
}

.hero img{
    display:block;
    width:100%;
    height: auto;
    border-radius: 6px;
}

